.facetwp-flyout {
    position: fixed;
    width: 360px;
    top: 0;
    height: 100%;
    overflow: scroll;
    background: #fff;
    border-right: 1px solid #eee;
    transition: all 400ms ease-in-out;
    transform: translateX(-100%);
}

.facetwp-flyout.active {
    transform: translateX(0);
}

.facetwp-flyout-wrap {
    padding: 10px;
}

body.admin-bar .facetwp-flyout-wrap {
    padding-top: 40px;
}

.facetwp-flyout-close {
    text-align: right;
    cursor: pointer;
}
